<table class="table">
    <thead>
        <tr>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        <th><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
        </tr>
    </thead>
    <tbody >
        <tr>
           <td colspan="10">
            <ngx-skeleton-loader count="5" appearance="line" [theme]="{height: '50px'}" ></ngx-skeleton-loader>
           </td> 
        </tr>
    </tbody>
</table>