<div class="overlay d-flex flex-column align-items-center justify-content-center" *ngIf="isLoading">
  <img src="./assets/icons/loading.svg" alt="loading" width="100px">
  <span>Processando sua requisição...</span>
</div>
<section>
  <div class="content-circularity-box">
      <div class="row">
          <div class="col-md-12">
              <span class="title">{{title}}</span>
          </div>
      </div>
      <ng-container>
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <form [formGroup]="formObject" (submit)="onSubmit">

                    <div class="form-group mb-4 mt-5">
                        <app-select-field [control]="formObject.controls['brandId']" [field]="formFields[0] ">
                        </app-select-field>
                        <div *ngIf="submitted && formControl.brandId.errors" class="text-danger">
                            <div *ngIf="formControl.brandId.errors.required">Marca é obrigatório</div>
                            <div *ngIf="formObject.value['brandId'] == 0">Marca é obrigatório</div>
                        </div>
                    </div>

                      <div class="form-group mb-4 mt-5">
                          <label>Modelo SKU  <span class="text-danger">*</span></label>
                          <div class="input-group mb-1">
                              <input class="form-control input-circularity" type="text"
                                  formControlName="SKU">
                          </div>
                          <div *ngIf="submitted && formControl.SKU.errors" class="text-danger">
                              <div *ngIf="formControl.SKU.errors.required">Modelo SKU é obrigatório</div>
                          </div>
                      </div>

                      <div class="form-group mb-4 mt-5">
                        <label>Descrição  <span class="text-danger">*</span></label>
                        <div class="input-group mb-1">
                            <input class="form-control input-circularity" type="text"
                                formControlName="description">
                        </div>
                        <div *ngIf="submitted && formControl.description.errors" class="text-danger">
                            <div *ngIf="formControl.description.errors.required">Descrição do produto é obrigatório</div>
                        </div>
                      </div>

                      <!-- <div class="form-group mb-4 mt-5">
                          <label>Família  <span class="text-danger">*</span></label>
                          <div class="input-group mb-1">
                              <input class="form-control input-circularity" type="text"
                                  formControlName="family">
                          </div>
                          <div *ngIf="submitted && formControl.family.errors" class="text-danger">
                              <div *ngIf="formControl.family.errors.required">Família do produto é obrigatório</div>
                          </div>
                      </div> -->

                      <div class="form-group mb-4 mt-5">
                        <label>Peso KG  <span class="text-danger">*</span></label>
                        <div class="input-group mb-1">
                            <input class="form-control input-packfree" type="number"
                                formControlName="weight" maxlength="10">
                        </div>
                        <div *ngIf="submitted && formControl.weight.errors" class="text-danger">
                            <div *ngIf="formControl.weight.errors.required">Peso é obrigatório</div>
                            <div *ngIf="formControl.weight.errors.invalidDecimal">Peso deve ser um número válido com até 2 casas decimais</div>
                        </div>
                    </div>
                     
                      <div class="row">
                          <div class="col-6">
                              <button class="btn px-4 custom-bt button-circularity color-button-blue" type="button"
                                  (click)="onSubmit()">Salvar</button>
                              <button class="btn px-4 custom-bt button-circularity color-button-red" type="button"
                              (click)="onCancel()">Cancelar</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          
      </ng-container>
      
  </div>
</section>

<ng-template #template>
  <div class="modal-body">
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
      <div style="text-align: center;">
          <span>{{msg}}</span>
      </div>
      
  </div>
</ng-template>