<div class="loading">
    <div class="wrapper">
        <div class="circle">
            <img src="./assets/icons/icon-print.svg" width="25">
        </div>
        <div class="circle">
            <img src="./assets/icons/icon-bag.svg" width="25">
        </div>
        <div class="circle">
            <img src="./assets/icons/icon-settings.svg" width="25">
        </div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <p>{{message}}</p>
    </div>
</div>