<div class="overlay d-flex flex-column align-items-center justify-content-center" *ngIf="isLoading">
    <img src="./assets/icons/loading.svg" alt="loading" width="100px">
    <span>Processando, aguarde...</span>
</div>

<div class="modal-header">
    <h4 class="modal-title">Alterar Senha</h4>
    <!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button> -->
</div>
<div class="modal-body">
<p>É necessário alterar a senha para prosseguir!</p>

<form [formGroup]="formObject" (submit)="save">
    <div class="form-group mb-4">
        <label>Nova senha</label>
        <div class="input-group mb-1">
            <input class="form-control input-circularity" type="password" formControlName="novaSenha">
        </div>
        <div *ngIf="submitted && formControl.novaSenha.errors" class="text-danger">
            <div *ngIf="formControl.novaSenha.errors.required">Nova senha é obrigatório</div>
            <div *ngIf="formControl.novaSenha.errors.minlength">Senha incorreta, informe no mínimo 6 caracteres.</div>
        </div>
    </div>

    <div class="form-group">
        <label>Confirmar nova senha</label>
        <div class="input-group mb-1">
            <input class="form-control input-circularity" type="password" formControlName="confirmarNovaSenha">
        </div>
        <div *ngIf="submitted && formControl.confirmarNovaSenha.errors" class="text-danger">
            <div *ngIf="formControl.confirmarNovaSenha.errors.required">Confirmar nova senha é obrigatório</div>
            <div *ngIf="formControl.confirmarNovaSenha.errors.minlength">Senha incorreta, informe no mínimo 6 caracteres.</div>
        </div>
        <div *ngIf="submitted && formObject.value['confirmarNovaSenha'] != formObject.value['novaSenha']" class="text-danger">
            <div>Nova senha informada não confere com a confirmação.</div>
        </div>
    </div>
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn px-4 custom-bt button-circularity color-button-blue" (click)="save()" data-dismiss="modal">Continuar</button>
    <!-- <button type="button" class="btn px-4 custom-bt button-circularity color-button-red" (click)="cancel()" data-dismiss="modal">Cancelar</button> -->
</div>