<div class="sidebar d-flex" [ngClass]="{'sidebar-active': openedSidebar}">
    <ul class="navbar-nav d-flex flex-column ">
        <li class="nav-item w-100 " *ngFor="let row of getMenus; let i = index" [ngClass]="row.classActive" >
           
            <div class="nav-link pl-4 d-flex" *ngIf="row.isClick" routerLink="/management/customerpn" (click)="clickMenu()">
                <img src="./assets/icons/list.svg" alt=""  >
                <span>Customer & PN</span>
            </div>

            <div class="nav-link pl-4 d-flex" *ngIf="row.isClick" routerLink="/management/uploadrpa" (click)="clickMenu()">
                <img src="./assets/icons/list.svg" alt=""  >
                <span>Upload RPA</span>
            </div>

           
        </li>
    </ul>
</div>

<!-- OVERLAY TRUE -->
<div class="overlay" *ngIf="openedSidebar" (click)="showSideBar()"></div>