
<section class="section-circularity">
    
    <div class="row">
        <div class="col-md-12">
            <span class="title" *ngIf="!isLoading">Menu</span>
            <ngx-skeleton-loader count="1" appearance="line" *ngIf="isLoading"></ngx-skeleton-loader>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="formObject" (submit)="handlerSearch()" >
            <div class="filter" *ngIf="!isLoading">
                <label class="title">Filtro</label>
                <div class="input-group ">
                    <input class="form-control input-circularity" type="text" placeholder="Pesquisar item" formControlName="objectFilter">
                </div>
                <button class="btn px-4 custom-bt button-circularity color-button-blue" type="button" (click)="handlerSearch()">Pesquisar</button>
                <button class="btn px-4 custom-bt button-circularity color-button-blue" type="button" (click)="handlerNew()">Novo</button>
            </div>
            <div class="skeleton" *ngIf="isLoading"><ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '70px'}" ></ngx-skeleton-loader></div>
            
            </form>
            
        </div>
        
    </div>

    <ng-container >
        <div class="row content">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 space-chart">
                <div class="table-box">
                    <table class="table table-hover" *ngIf="!isLoadingSearch">
                        <thead>
                            <tr>
                            <th scope="col">id</th>
                            <th scope="col">descrição</th>
                            <th scope="col">url</th>
                            <th scope="col">icone</th>
                            <!-- <th scope="col">image_active</th> -->
                            <th scope="col">Criado</th>
                            <th scope="col">status</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr *ngFor="let item of objList" >
                                <td scope="row">{{item['id']}}</td>
                                <td>{{item['description']}}</td>
                                <td>{{item['url']}}</td>
                                <td>{{item['image']}}</td>
                                <!-- <td>{{item['image_active']}}</td> -->
                                <td>{{item['createdAt']}}</td>
                                <td>
                                    <span [class]="item['active'] ? 'text-success' : 'text-danger'">
                                      {{ item['active'] ? 'Ativo' : 'Inativo' }}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn px-4 custom-bt button-circularity color-button-red float-right" type="button"
                                    (click)="confirmDelete(template,'delete', item)">Excluir</button>

                                    <button class="btn px-4 custom-bt button-circularity color-button-blue float-right" type="button"
                                    (click)="handlerEdit(item['id'])">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table" *ngIf="isLoadingSearch">
                        <thead>
                            <tr>
                            <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
                            <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
                            <th scope="col"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
                            <th><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                               <td colspan="4">
                                <ngx-skeleton-loader count="5" appearance="line" [theme]="{height: '50px'}" ></ngx-skeleton-loader>
                               </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </ng-container>

</section>
<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Excluir</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <p>{{msg}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn px-4 custom-bt button-circularity color-button-blue" (click)="handlerDelete()" data-dismiss="modal">Confirmar</button>
            <button type="button" class="btn px-4 custom-bt button-circularity color-button-red" (click)="modalRef?.hide()" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</ng-template>